/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer

# server
/server/node_modules
/server/uploads
/server/data.db
/server/data.db-*
/server/backups